<div class="perfil">
  <div class="row">
    <div class="col-12">
      <p class="ft-large font-weight-bold">Mi Perfil</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <nz-tabset nzTabPosition="left">
        <nz-tab nzTitle="Información General">
          <div class="row">
            <div class="col-sm-6">
              <div class="perfil__contenedor-items1">
                <div class="row">
                  <div class="col-12">
                    <img src="assets/images/avatar1.png" alt="avatar1.png">
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <span class="perfil__email">LoremIpsum@gmail.com</span>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12">
                    <span>Lorem Ipsum</span>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-12">
                    <input type="file" class="d-none" #file>
                    <button mat-stroked-button (click)="file.click()" color="primary">CAMBIAR FOTO</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </nz-tab>
        <nz-tab nzTitle="Datos generales">
          <div class="col-sm-7">
            <div class="perfil__contenedor-items2">
              <div class="row">
                <div class="col-12">
                  <b>Mis datos personales</b>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row">
                <div class="col-6">
                  <span class="font-weight-bold">Nombres</span>
                </div>
                <div class="col-6">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row">
                <div class="col-6">
                  <span class="font-weight-bold">Apellidos</span>
                </div>
                <div class="col-6">
                  <span>Lorem Ipsum</span>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row">
                <div class="col-6">
                  <span class="font-weight-bold">DNI</span>
                </div>
                <div class="col-6">
                  <span>45014623</span>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row">
                <div class="col-6">
                  <span class="font-weight-bold"> Condición Laboral</span>
                </div>
                
              </div>
              <mat-divider></mat-divider>
              <div class="row">
                <div class="col-6">
                  <span class="font-weight-bold">Correo</span>
                </div>
                <div class="col-6">
                  <span>sussangayoso@gmail.com</span>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="row">
                <div class="col-6">
                  <span class="font-weight-bold">Teléfono</span>
                </div>
                <div class="col-6">
                  <span>955562222</span>
                </div>
              </div>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
    <!-- <div class="col-5 perfil__contenedor">
      
    </div> -->
    <!-- <div class="col-7 perfil__contenedor">
      
    </div> -->
  </div>
  
</div>