<div>
  <div class="row">
    <div class="col-12 pt-3">
      <p class="font-weight-bold">Buenos días, JOSÉ ANTONIO</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9 m-auto">
      <div class="row">
        <div class="col-12 p-2 font-weight-bold">
          <p> MI CERTIFICACION ENSAP</p>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 p-2 ">
          <div class="box bg-light p-3 shadow ">
            <h3 class="font-weight-bolder m-0">2</h3>
            <p class="text-secondary d-flex justify-content-between m-0 ">Cursos
              <mat-icon class="text-secondary">task</mat-icon>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 p-2 ">
          <div class="box bg-light p-3 shadow ">
            <h3 class="font-weight-bolder m-0">2</h3>
            <p class="text-secondary d-flex justify-content-between m-0 ">Certificados
              <mat-icon class="text-secondary">description</mat-icon>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 p-2 ">
          <div class="box bg-light p-3 shadow ">
            <h3 class="font-weight-bolder m-0">2</h3>
            <p class="text-secondary d-flex justify-content-between m-0 ">Constancias
              <mat-icon class="text-secondary">note_add</mat-icon>
            </p>
          </div>
        </div>
        
       
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9 m-auto">
      <div class="row">
        <div class="col-12 p-2 font-weight-bold">
          <p> MI RECONOCIMIENTO</p>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 p-2 ">
          <div class="box bg-light p-3 shadow ">
            <h3 class="font-weight-bolder m-0">2</h3>
            <p class="text-secondary d-flex justify-content-between m-0 ">Reconocimientos
              <mat-icon class="text-secondary">task</mat-icon>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 p-2 ">
          <div class="box bg-light p-3 shadow ">
            <h3 class="font-weight-bolder m-0">2</h3>
            <p class="text-secondary d-flex justify-content-between m-0 ">Constancias
              <mat-icon class="text-secondary">note_add</mat-icon>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9 m-auto">
      <div class="row">
        <div class="col-12 p-2 font-weight-bold">
          <p> MI DIPLOMADO</p>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 p-2 ">
          <div class="box bg-light p-3 shadow ">
            <h3 class="font-weight-bolder m-0">2</h3>
            <p class="text-secondary d-flex justify-content-between m-0 ">Diplomas
              <mat-icon class="text-secondary">task</mat-icon>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 p-2 ">
          <div class="box bg-light p-3 shadow ">
            <h3 class="font-weight-bolder m-0">2</h3>
            <p class="text-secondary d-flex justify-content-between m-0 ">Diplomas
              <mat-icon class="text-secondary">description</mat-icon>
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4 p-2 ">
          <div class="box bg-light p-3 shadow ">
            <h3 class="font-weight-bolder m-0">2</h3>
            <p class="text-secondary d-flex justify-content-between m-0 ">Constancias
              <mat-icon class="text-secondary">note_add</mat-icon>
            </p>
          </div>
        </div>
       
      </div>
    </div>
  </div>

</div>
