<div class="row">
  <div class="col-12">
    <span class="font-weight-bold ft-large">Actualización de clave</span>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12">
    <span class="text-secondary">En esta vista podras actualizar la contraseña de los usuarios.</span>
  </div>
</div>
<hr>
<div class="row mt-4">
  <div class="col-12">
    <span>Elije el modo para actualizar la contraseña</span>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <nz-radio-group [(ngModel)]="radioValue">
      <label nz-radio nzValue="A">Carga por archivo</label>
      <label nz-radio nzValue="B">Individual</label>
    </nz-radio-group>
  </div>
</div>
<div class="row mt-4" *ngIf="radioValue == 'A'">
  
      <input type="file" #file  class="d-none">
      <div class="upload py-4 px-5 border text-center rounded" (click)="file.click()">
          <img src="assets/images/upload.png" alt="upload.png">
          <hr>
          <span>Elija un archivo (.xls)</span>
      </div>
</div>
<div class="row mt-4" *ngIf="radioValue == 'B'">
  <div class="col-12">
    <nz-table #basicTable [nzData]="dataSet">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombres y apellidos</th>
          <th>Correo</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.dni}}</td>
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
          <td class="settings">
            <mat-icon (click)="changePassword()">settings</mat-icon>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>