<div class="miportal">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <img class="miportal__minsa ml-3 mt-5" src="assets/images/MINSA.png" alt="minsa.png">
      <img class="miportal__pueblo m-3" src="assets/images/pueblo.jpeg" alt="minsa.png">

    </div>
    <!-- <div class="col-6">
      <button mat-raised-button color="primary">Intranet</button>
    </div> -->
  </div>
  <div class="row mt-5 mb-5 pl-5 pr-5">
    <div class="col-12 col-sm-10 col-md-7 col-xl-4 miportal__contenedor">
      <div class="miportal__contenedorDatos">
        <div class="row">
          <div class="col-12 text-center mb-4">
            <b>Consulta de Cursos</b>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>Ingrese los campos requeridos para realizar la búsqueda de cursos por alumno.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12 p-2">
            <mat-form-field appearance="outline">
              <mat-label>Ingrese DNI</mat-label>
              <input matInput placeholder="DNI">
              <mat-icon matSuffix>folder_shared</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button class="miportal__boton1"  mat-stroked-button color="primary" (click)="navigateToConsulta()">REALIZAR BÚSQUEDA</button>
          </div>
        </div>
        <div class="row ">
          <div class="col-12 pt-4 d-flex justify-content-center">
            <span>O haga </span>
            <a class="text-primary mx-1"(click)="navigateToLogin()">Click Aquí</a>
            <span> para ingresar a Intranet</span>
            <!-- <p>O haga Click Aquí para ingresar a Intranet</p> -->
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="mt-5">http://www.minsa.gob.pe/ensap/contact.asp</p>
      <p>Escuela Nacional de Salud Pública   </p>
      <p>Av. Arequipa 980  Lima - Perú</p>
      <p>Teléfono: (+51) 315-6600 Anexo 5205-5224</p>
    </div>
    <div class="col-6">
      <h3 class="text-center">Ubíquenos</h3>

    </div>

  </div>
</div>